.car-presentation{
    height: 900px;
    display: flex;
    align-items: end;
    padding-bottom: 60px;
    font-size: 50px;
    position: relative;
    box-sizing: border-box;
    background-image: url(../img/car-bg-1.jpg);
    background-position: center;
    background-size: cover;
}
.car-presentation::after{
    content: "";
    height: 300px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgba(24, 24, 27, 0) 0%, #18181B 100%);

}
.car-presentation .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    z-index: 2;
}
.car-presentation h1{
    font-size: 64px;
    font-weight: normal;
}

@media (max-width:1250px){
    .car-presentation{
        font-size: 30px;
    }
    .car-presentation h1{
        font-size: 40px;
    }
}
@media (max-width:800px){
    .car-presentation{
        height: 600px;
        padding-bottom: 10px;
        font-size: 20px;
    }
    .car-presentation .container{
        align-items: start;
        flex-direction: column;
    }
    .car-presentation h1{
        font-size: 26px;
        margin-bottom: 10px;
    }
}