.bottom-links{
    padding: 80px 0 55px;
    background-color: #111111;
}
.bottom-links .container{
    display: flex;
    justify-content: space-between;
}
.site-links{
    display: flex;
}
.site-links-block{
    width: 230px;
    margin-right: 30px;
}
.site-links-block:last-child{
    margin-right: 0;
}
.site-links-block h5{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: normal;
    opacity: 0.5;
}
.site-links-block li{
    margin-bottom: 10px;
}
.social-links{
    width: 420px;
}
.social-links_list{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.social-links_list li{
    margin-right: 30px;
}
.social-links_list li:last-child{
    margin-right: 0;
}
.social-links_list li img:last-child{
    display: none;
}
.social-links_list li:hover img:first-child{
    display: none;
}
.social-links_list li:hover img:last-child{
    display: block;
}