.car-info{
    background-color: #18181B;
}
.car-info_top{
    padding: 30px 0;
    position: sticky;
    top: 0;
    background-color: #18181B;
    z-index: 4;
}
.car-info_top .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.car-info-tabs{
    display: flex;
}
.car-info-tabs li a{
    margin-right: 30px;
    font-size: 20px;
    transition: 0.5s;
}
.car-info-tabs li:last-child a{
    margin-right: 0;
}
.car-info-tabs li a.active{
    color: #F6D375;
    text-decoration: underline;    
}
.car-info-tabs li a:hover{
    color: #F6D375;
}
.car-info-tabs li a:active{
    color: #BFAA70;
}
.car-info_credit-btn{
    background-color: unset;
    color: white;
    margin-left: 10px;
}
.car-info_credit-btn:hover, .car-info_credit-btn:active{
    color: #18181B;
}
.car-info_content{
    padding: 120px 0 160px;
}
.car-info_content_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    scroll-margin-top: 115px;
}
.car-info_description{
    width: 490px;
}
.car-info_description h4{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 10px;
}
.car-info_characteristics{
    display: flex;
    height: fit-content;
}
.characteristics-item{
    padding-right: 60px;
    border-right: 1px solid white;
    margin-right: 60px;
}
.characteristics-item:last-child{
    padding-right: 0;
    border-right: 0;
    margin-right: 0;
}
.characteristic_top{
    display: flex;
    align-items: start;
}
.characteristic_big{
    font-size: 50px;
    margin-right: 10px;
}
.car-info_tables{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    scroll-margin-top: 115px;
}
.car-info_tables h4{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 10px;
}
.car-info_table_row{
    padding: 10px 0;
    font-weight: 500;
    border-bottom: 1px solid; 
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 73.44%, rgba(255, 255, 255, 0) 100%) 30;
    transition: 0.3s;
}
.car-info_table_row:last-child{
    border-bottom: unset;
}
.car-info_table_row:hover{
    color: #18181B;
    background-color: #F6D375;
}
.car-info_table_row span{
    display: inline-block;
    width: 245px;
}
.car-info_expand-btn{
    display: block;
    width: fit-content;
    margin-left: auto;
    padding-right: 22px;
    color: #F6D375;
    position: relative;
    cursor: pointer;
}
.car-info_expand-btn::after{
    content: "";
    display: inline-block;
    width: 12px;
    height: 15px;
    position: absolute;    
    right: 0;
    top: 4px;
    background-image: url(../img/arrow-2.svg);
    background-size: cover;
    transition: 0.5s;
}
.car-info_expand-btn:hover::after{
    top: 20px;
}

/* Блок, который появляется только при прокрутке вверх на мобилках */
.car-info_bottom{
    display: none;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    bottom: -100px;
    z-index: 10;
    background-color: #fff;
    transition: 0.5s;
}
.car-info_bottom .container{
    display: flex;
    justify-content: space-between;
}
.car-info_bottom a{
    width: 160px;
    padding: 13px 0;
    border: 1px solid #18181B;
}
.car-info_bottom_buy-btn{
    background-color: #18181B;
    color: white;
}

@media (max-width:1600px){
    .car-info_table_row span{
        width: 170px;
    }
}
@media (max-width:1420px){
    .car-info_top{
        background-color: black;
        /* переменная для изменения ширины прогрессбара */
        --tabs-progressbar-width: 25%;
    }
    .car-info_top .container::after{
        content: "";
        width: var(--tabs-progressbar-width);
        height: 3px;
        background-color: #F6D375;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.5s;
    }
    .car-info-tabs li a{
        display: none;
    }
    .car-info-tabs li a.active{
        display: inline-block;
        text-decoration: none;
    }
    .car-info_content{
        padding: 60px 0;
    }
    .car-info_content_top{
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 60px;
    }
    .car-info_characteristics{
        margin-bottom: 60px;
    }
}
@media (max-width:1150px){
    .characteristic_big{
        font-size: 35px;
    }
    .car-info_tables{
        flex-direction: column;
        align-items: center;
    }
    .complectation-table{
        margin-bottom: 60px;
    }
}
@media (max-width:900px){
    .car-info_top_buttons{
        display: none;
    }
    .car-info_bottom{
        display: block;
    }
    .car-info_bottom.active{
        bottom: 0;
    }
}
@media (max-width:750px){
    .car-info_content_top{
        margin-bottom: 30px;
    }
    .car-info_characteristics{
        margin-bottom: 30px;
    }
    .characteristics-item{
        padding-right: 25px;
        margin-right: 25px;
    }
    .characteristic_big{
        font-size: 24px;
        font-weight: 500px;
    }
    .car-info_description h4{
        display: none;
    }
    .complectation-table{
        margin-bottom: 30px;
    }
}
@media (max-width:560px){
    .car-info_top{
        padding: 15px 0;
        top: 60px;
    }
    .car-info-tabs li a{
        font-size: 16px;
        font-weight: 600;
    }
    .car-info_content_top{
        align-items: start;
    }
    .characteristics-item{
        padding-right: 10px;
        margin-right: 10px;
        font-size: 14px;
    }
    .characteristic_big{
        font-size: 18px;
        font-weight: 500px;
    }
    .car-info_description{
        width: 330px;
    }
    .car-info_tables{
        align-items: start;
    }
    .car-info_tables h4{
        font-size: 26px;
    }
    .car-info_table_row{
        width: 330px;
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: normal;
    }
    .car-info_table_row span:first-child{
        margin-right: 25px;
    }
    .car-info_table_row span:last-child{
        text-align: end;
    }
    .complectation-table_price{
        display: none !important;
    }
}