.car-video{
    height: 1000px;
    background-image: url(../img/car-video-bg.png);
    background-position: center;
    background-size: cover;
}
@media (max-width:900px){
    .car-video{
        height: 660px;
    }
}