.colors-showcase{
    padding: 160px 0 140px;
    background: linear-gradient(90deg, #BABABA 0%, #F3F3F3 100%);
}
.colors-note{
    width: 360px;
    margin-left: auto;
    color: #48494F;
    font-size: 14px;
}
.colors-img{
    display: block;
    margin: 0 auto;
}
.colors_list{
    color: #18181B;
}
.colors_list_col{
    margin-right: 30px;
    display: inline-block;
}
.colors_list button{
    width: 200px;
    margin-bottom: 20px;
    opacity: 0.5;
    font-size: 26px;
    font-weight: 500;
    text-align: left;
    transition: 0.3s;
}
.colors_list button.active{
    opacity: 1;
}
.colors_list button:hover{
    opacity: 1;
}

@media (max-width:1350px){
    .colors-img{
        width: 800px;
    }
}
@media (max-width:900px){
    .colors-showcase{
        padding: 60px 0;
    }
    .colors-showcase .container{
        display: flex;
        flex-direction: column-reverse;
    }
    .colors_list_col{
        display: block;
    }
    .colors-img{
        width: 500px;
        margin: 40px auto 60px;
    }
    .colors-note{
        margin: 0 auto 0 0;
    }
}
@media (max-width:550px){
    .colors_list button{
        font-size: 20px;
    }
    .colors-img{
        width: 330px;
    }
    .colors-note{
        width: unset;
    }
}