/* Шрифты */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat.ttf");
}
/* Общие стили */
html{
    font-family: "Montserrat";
    color: white;
    font-size: 18px;
}
.container{
    max-width: 1530px;
    margin: 0 auto;
    padding: 0 40px;
}
.site-btn{
    padding: 13px 64px;
    font-size: 16px;
    font-weight: 600;
    color: #18181B;
    background-color: #fff;
    border: 1px solid white;
    border-radius: 24px;
    transition: 0.3s;
}
/* Ховеры */
a{
    transition: 0.5s;
}
a:hover{
    color: #F6D375;
}
a:focus{
    color: #BFAA70;
}
.site-btn:hover{
    background-color: #F6D375;
    border: 1px solid #F6D375;
}
.site-btn:focus{
    background-color: #BFAA70;
    border: 1px solid #BFAA70;
}
.site-logo:hover, .site-logo:focus{
    color: unset;
    text-decoration: none;
}
@media (max-width:700px){
    .container{
        padding: 0 15px;
    }
}