.header{
    background-color: #18181B;
    font-size: 16px;
}
.header_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.header .site-logo{
    font-size: 36px;
    font-weight: bold;
}
.header_info_right{
    display: flex;
    align-items: center;
}
.header_info{
    margin-right: 60px;
    display: flex;
}
.header_info li{
    margin-right: 30px;
}
.header_info li:last-child{
    margin-right: 0;
}
.header_functional{
    display: flex;
}
.header_functional button{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    background-color: #fff;
    border-radius: 99px;
    transition: 0.5s;
}
.header_functional button:hover{
    background-color: #F6D375;
}
.header_functional button:focus{
    background-color: #BFAA70;    
}
.header_functional button:last-child{
    margin-right: 0;
}
.header_menu-btn{
    width: 56px !important;
}
.header_menu-icon{
    height: 4px;
    width: 20px;
    border-top: 1.5px solid #18181B;
    border-bottom: 1.5px solid #18181B;
}
.breadcrumbs-wrap{
    background-color: #18181B;    
}
.breadcrumbs ul{
    padding: 20px 0;
    display: flex;
}
.breadcrumbs li{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.breadcrumbs li:last-child a{
    opacity: 0.5;
    cursor: default;
}
.breadcrumbs li:last-child a:hover{
    color: unset;
}
.breadcrumbs li::after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 5px;
    margin: 0 20px;
    background-image: url(../img/arrow.svg);
    background-size: cover;
    rotate: 270deg;

}
.breadcrumbs li:last-child:after{
    display: none;
}

@media (max-width:1100px){
    .header_info{
        display: none;
    }
}
@media (max-width:580px){
    .header{
        position: sticky;
        top: 0;
        z-index: 5;
    }
    .header_top{
        flex-direction: row-reverse;
        padding: 15px 0;
    }
    .header .site-logo{
        font-size: 20px;
    }
    .header_functional{
        flex-direction: row-reverse;
    }
    .header_functional button{
        margin-right: 0;
        margin-left: 10px;
    }
    .header_functional button:last-child{
        margin-left: 0;        
    }
    .header_lang-btn{
        display: none !important;
    }
    .breadcrumbs{
        overflow: scroll;
    }
    .breadcrumbs li{
        white-space: nowrap;
    }
}