#main-slider{
    width: 100%;
    height: 1000px;
}
.main-slider_slide-1, .main-slider_slide-2, .main-slider_slide-3{
    height: 100%;
    background-position: center;
    background-size: cover;
}
.main-slider_slide-1{
    background-image: url(../img/main-gallery-img-1.png);
}
.main-slider_slide-2{
    background-image: url(../img/main-gallery-img-2.png);
}
.main-slider_slide-3{
    background-image: url(../img/main-gallery-img-3.png);
}
.main-slider_controls{
    width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 40px;
    left: calc((100% - 1500px)/2);
    z-index: 4;
}
#main-slider_prev, #main-slider_next{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    cursor: pointer;
}
#main-slider_prev img{
    rotate: 90deg;
}
#main-slider_next img{
    rotate: 270deg;
}
#main-slider_pause{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}
.main-slider_pause-icon{
    width: 5px;
    height: 14px;
    border-right: 2px solid rgba(255, 255, 255, 0.8);
    border-left: 2px solid rgba(255, 255, 255, 0.8);
}
.main-slider_play-icon{
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-bottom-width: 9px;
    border-top-width: 9px;
    border-left: 15px solid rgba(255, 255, 255, 0.8);
}
.main-slider_pause-icon, .main-slider_play-icon{
    display: none;
}
.main-slider_pause-icon.active, .main-slider_play-icon.active{
    display: inline-block;
}
#main-slider_pagination{
    position: unset;
    height: 2px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 51.56%, rgba(255, 255, 255, 0) 100%);
}
#main-slider_pagination .swiper-pagination-progressbar-fill{
    background-color: white;    
}

@media (max-width:1580px){
    .main-slider_controls{
        width: 1200px;
        left: calc((100% - 1200px)/2);
    }
}
@media (max-width:1280px){
    .main-slider_controls{
        width: 900px;
        left: calc((100% - 900px)/2);
    }
}
@media (max-width:980px){
    #main-slider{
        height: 660px;
    }
    .main-slider_controls{
        width: 600px;
        bottom: 15px;
        left: calc((100% - 600px)/2);
    }
}
@media (max-width:630px){
    .main-slider_controls{
        width: 330px;
        left: calc((100% - 330px)/2);
    }
}